<div class="page-header">
  <h2><%= @author.name %></h2>
  <% if !@author.ratings.empty? %>
    <p>Author's Average Rating: <%= Rating.avg_rating("Author", @author) %></p>
    <!-- NEED TO REFACTOR THE ABOVE, SHOULDNT CALL THE CLASS IN THE VIEW -->
  <% end %>
</div>

<div class="books list">
  <ul>
    <% @author.books.each do |book| %>
      <li><%= link_to book.title, book_path(book) %></li>
    <% end %>
  </ul>
</div>

<br><br>
