<h1>Welcome to My Reading List!</h1>
<p><%= link_to "Log In with Facebook", '/auth/facebook' %> to easily create and log in to your account or select the Sign Up or Log In buttons in the top right to create/log in to a standard account.</p>
