<div class="page-header">
  <h2>Book Library</h2>
</div>

<% if flash[:message] %>
  <div class="flash-message">
    <h3><%= flash[:message] %></h3>
  </div>
<% end %>

<div class="books list">
  <ul>
    <% @books.each do |book| %>
        <li><%= link_to book.title, book_path(book)%></li>
    <% end %>
  </ul>
</div>

<br>

<%= link_to "Add a Book", new_book_path %>
