<div class="page-header">
  <h2>Book Library</h2>
</div>

<div class="books list">
  <ul>
    <% @books.each do |book| %>
        <li><%= link_to book.title, book_path(book)%> - <%= book.author_name %></li>
    <% end %>
  </ul>
</div>

<br>

<%= link_to "Add a Book", new_book_path %>
