<div class="page-header">
  <h2><%= @book.title %></h2>
</div>

<div class="book-attrs list">
  <ul>
    <li><%= @book.author_name %></li>
    <li><%= @book.genre %></li>
    <% if !@book.about.empty? %>
      <li><%= @book.about %></li>
    <% end %>
  </ul>
</div>
